
@charset "UTF-8";

/* -------사이트 전체 적용------- */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, 
h6, input, fieldset, legend, p, select, table, th, 
td, tr, textarea, button, form {
    margin: 0; padding: 0;
}
/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

body {
    font-family:"맑은 고딕", 굴림, 고딕;
    font-size: 12px;
}

#wrap {
    width: 1000px;
    margin: 0px auto;
}

ul, ol {
    list-style-type: none;
}

a:link {text-decoration:none; color:#000000;}
a:hover {text-decoration:none; color:#000000;}
a:visited {text-decoration:none; color:#000000;}
a:active {text-decoration:none; color:#000000;}

/* ---------------레이아웃-------------- */
#header {
    /* background-color: aqua; */
    /* border: 2px solid #000000; */
    padding: 15px 0px 15px 0px;
    /* border-bottom: 2px solid #dddddd; */
}

#nav {
    /* background-color: aquamarine; */
    border-bottom: 2px solid #dddddd;
    border-top: 2px solid #dddddd;
    padding: 20px 0px 20px 0px;
}

#contents {
    /* background-color:blueviolet; */
    padding: 40px 20px 40px 20px;
}

#contents2 {
    /* background-color:blueviolet; */
    padding: 20px 0px 20px 0px;
}

#footer {
    background-color: #dddddd;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

/* ---------헤더---------- */
#header>h1>a {
    float: left;
    font-size: 28px;
    color: #597e59;
}
#header ul {
    float: right;
}

#header>ul>li {
    float:left;
    padding: 10px 0px 10px 20px;
}
/* ------------nav---------------- */
#nav>ol>li {
    width: 248px;
    /* border: 1px solid #000000; */
    float:left;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
/* --------------contents-------------- */

/* #cts_img {
    float: left;
    width: 300px;
    margin: 0px 40px 0px 0px;
}

#cts_txt {
    float:left;
}

#cts_txt>p {
    margin: 0px 0px 20px 0px;
} */
/* ---------------serve_content---------- */
/* #contents2 #aside {
    float: left;
    width: 180px;
    margin: 0px 20px 0px 0px;
    /* background-color:#ff0000; */
/* }
#contents2 #main {
    float: left;
}
#contents2 #aside h2 {
    background-color: #dddddd;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 15px 20px 15px;
    
}
#contents2 #aside ul>li {
    border: 1px solid #a6a6a6;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    margin: 5px 0px 0px 0px;
} */ 
/* -----------------main_content----------- */
/* #contents2 #main {
    width: 798px;
    padding: 20px 0px 20px 0px;
}
#contents2 #main #main_hd{
    border-bottom: 1px  solid #a6a6a6;
    
}
#contents2 #main #main_hd h3{
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin: 0px 0px 3px 0px;
}
#contents2 #main #main_hd ol {
    float: right;
}
#contents2 #main #main_hd ol>li {
    float: left;
    padding: 5px 0px 0px 0px;
}
#contents2 #main #main_hd ol>li:after {
    content: ">";
}
#contents2 #main #main_hd ol>li.last:after {
    content: "";
} */
/* ---------------font css--------------- */
.ft_width {
    font-weight: bold;
}
.ft_size_nomal {
    font-size: 14px;
}
.ft_size_big {
    font-size: 25px;
}